:root {
    --black-main: #212121;
    --second-black: #000000;
    --main-blue: #2196F3;
    --background-grey: #2F303A;
    --main-white: #FFFFFF;
    --second-white: #F5F4FA;
    --main-silver: #757575;
    --border: rgba(236, 236, 236, 1);
    --icon: #AFB1B8;

}
body {
    font-family: 'Roboto', sans-serif;
    color: var(--black-main)
}

.no-decoration {
    text-decoration: none;
    list-style: none;
}
a:hover {
    color: var(--main-blue);
}
.container {
    width: 1200px;
    margin: 0 auto;
}
/* ?????? */
.no-margin {
    margin: 0;
}

/*HEADER*/

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
}
.header {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
}
.blue-text {
    color: var(--main-blue);
}

.nav-style {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
}
.nav-list {
    display: flex;
    align-items: center;
    gap: 42px;
    padding: 10px;
}
.contact-style {
    color: var(--main-silver);
    text-decoration: none;
}
.nav-contact {
    display: flex;
    gap: 50px;
}
.tel-icon::before {
    background-image: url(../images/icons.svg/symbol-defs.svg#icon-smartphone-icon);
    height: 16px;
    width: 10px;
    
}

/* HEADER LINE BORDER */

.header-line-border {
    border-bottom: var(--border) solid 1px;
}

/* BUTTONS */
/* BUTTONS PORTFOLIO */
.button-style {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    border: none;
    background-color: var(--second-white);
    border-radius: 4px;
    padding: 6px 22px;
}
.button-style:active {
    background-color: var(--main-blue);
    color: var(--main-white);
}
.button-style:hover {
    background-color: var(--main-blue);
    color: var(--main-white);
}
.buttons {
    display: flex;
    justify-content: center;
    gap: 8px;
    margin: 94px 0 0 0;
    list-style: none;
}
/* BUTTONS MAIN */
.button-main {
    padding: 10px 42px;
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    color: var(--main-white);
    background-color: var(--main-blue);
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/*PORTFOLIO IMAGES*/

.img-portfolio {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
    gap: calc(5% / 3);

}
.img-portfolio-nav {
    margin: 0 0 0 0;
}
.product-header {
    font-weight: 700;
    font-size: 18px;
    line-height: 36px;
    letter-spacing: 0.06em;
    color: var(--black-main);
}

.product-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.03em;
    color: var(--main-silver);
}

/*FOOTER*/

.footer {
    padding: 60px 0 60px 215px;
    background-color: var(--background-grey);
    margin: 0px 0px 0px 0px;
    color: var(--main-white);
}
.white-text {
    color: var(--main-white);
}

/* MAIN PAGE ONLY */

.center-text {
    font-weight: 900;
    font-size: 44px;
    line-height: 60px;
    text-align: center;
    letter-spacing: 0.06em;
}
.order-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 200px 0 280px 0;
    background-color: var(--background-grey);
    color: var(--main-white);
}
.order-list {
    background-image: url(../images/Img-background.jpg) ;
}

/* LOREM ON MAIN PAGE */

.lorem-main {
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.lorem-under-main {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: var(--main-silver);
}
.lorem-nav {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin: 94px 0px;
    padding: 0;
}

/* SECTION: CZYM SIE ZAJMUJEMY */

.section-on-main {
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
}
.main-works {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin: 50px 0 0 0;
}

/* SECTION; OUR TEAM */

.main-our-team {
    display: flex;
    justify-content: center;
    gap: 30px;
}
.text-name {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.03em;
}

.text-under-name {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--main-silver);
}
.our-team {
    margin: 188px 0 50px 0;
}
.our-client {
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
}

/* STYLIZACJE IKON */

.icon {
    width: 67px;
    height: 70px;
    background-color: var(--second-white);
    padding: 25px 102px;
    border-radius: 4px;
}
.sm-icon {
    width: 20px;
    height: 17px;
    fill: var(--icon);
    padding: 12px;
    border-radius: 50%;
    border: 0;
}

.sm-icon-nav {
    display: flex;
    justify-content: space-evenly;
    padding: 0;
}
.link-icon:hover {
    fill: var(--main-blue);
}
.sm-icon:hover {
    fill: var(--main-white);
    background-color: var(--main-blue);
}
.team-profil {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}
.clients {
    display: flex;
    justify-content: space-evenly;
}
.client-icon {
    padding: 16px 32px;
    width: 106px;
    height: 60px;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
}














